<%- include ("partial/header") -%>

<link href="/landing.css" rel="stylesheet" text="text/css">
<!--<div class="container">
  
  <div class="jumbotron" style="margin-top:20px">
  <h1 class="display-4">Welcome to Indiacamp</h1>
  <p class="lead">Hand-picked campgrounds.</p>
  <hr class="my-4">
  
  </div>

<a href="/campgrounds">click to view all campgrounds</a>-->
  
<div id="sections-wapper2" class="sections-wrapper">
<div class="container">
  <section id="overview-section" class="overview-section section">
		<div clas="row">
			<div class="col-lg-12">
				<div id="text">
					<h1>INDIACAMP</h1>
					<h3>Hand-picked Campgrounds.</h3>
					<hr>
          <a href="/campgrounds"><button type="button" class="btn btn-outline-warning">View All Campgrounds</button></a>
          <!-- coz poore button ko link banana hai not just text inside button -->
				</div>
			</div>
		</div>
  </section>
</div> 
</div>
<div class="sections-wrapper" id="a">
<div class="container">
  <div class="row">
    <h3>ABOUT US</h3>
      <p>      
       We provide you information about the best campgrounds in India. These are hand-picked
        campgrounds selected by our team. We hope you visit them and have a wonderful experience.        
      </p>
  </div>
</div>
</div> 
<div class="sections-wrapper" id="a">
<div class="container">
  <div class="row">
    <h3>OVERVIEW</h3>
      <p>When some people think of camping, they tend to imagine forest fires and getting 
        gored by bears. However, this is not the case; it is highly unlikely any of these 
        two actually ever happen. In most cases people who have been on a camping trip once 
        always want to do it again. There is so much to do out there in the wild.
        One of the reasons you should go on a camping trip is the stars. For a person
        like me who lives in the city, I always enjoy a trip out into the untamed hinterland. 
        It is always an opportunity to gaze upon the stars in the night sky. 
        A camping trip presents you with an opportunity to reconnect with loved ones. 
        This is one of the reasons it is so much fun. It is the experience of a lifetime.
        There are few activities that are more fun in this world than sitting by a campfire. 
        It presents one with the opportunity to reflect upon their life in a way only possible
        by a camp fire.
      </p>
  </div>
</div>
</div>   
<div class="container">
  <%- include("partial/footer") -%>
</div>
   
