<%- include ("partial/header") -%>

<link href="/landing.css" rel="stylesheet" text="text/css">
<!--<div class="container">
  
  <div class="jumbotron" style="margin-top:20px">
  <h1 class="display-4">Welcome to Indiacamp</h1>
  <p class="lead">Hand-picked campgrounds.</p>
  <hr class="my-4">
  
  </div>

<a href="/campgrounds">click to view all campgrounds</a>-->
  
<div id="sections-wapper2" class="sections-wrapper">
<div id="land" class="container">
  <section id="overview-section" class="overview-section section">
		<div clas="row">
			<div class="col-lg-12">
				<div id="text">
					<h1>INDIACAMP</h1>
					<h3>Making Camping Experience Better.</h3>
					<hr>
          <button type="button" class="btn btn-outline-warning"><a id="disp" href="/campgrounds">Click To View All Campgrounds</a></button>
				</div>
			</div>
		</div>
  </section>
</div> 
</div>
<div class="sections-wrapper">
<div class="container">
  <div class="row">
    <h3>OVERVIEW</h3>
      <p>
        Sleeping under the stars. Huddling against the cold around a campfire with friends,
        telling stories and eating smores. Walking through the forest. Fishing on a lake or 
        alongside a stream. Working together as a team to create a temporary home away from 
        home and enjoy what the new location has to offer. Climbing high mountain peaks and 
        seeing for hundreds of miles in any direction. Playing cards in a tent or trailer 
        while it is pouring down rain outside. Listening to the bird and squirrels as they 
        awaken you from slumber.
  
      </p>
  </div>
  <%- include("partial/footer") -%>
</div>
</div> 
  

   
