<%- include ("partial/header") -%>


<div class="container">
  
  <div class="jumbotron" style="margin-top:20px">
  <h1 class="display-4">Welcome to Indiacamp</h1>
  <p class="lead">Hand-picked campgrounds.</p>
  <hr class="my-4">
  
  </div>

<a href="/campgrounds">click to view all campgrounds</a>


<%- include("partial/footer") -%>
  
</div>  


<!--<section class="promo-section section section-on-bg">
        <div class="hero-slider-wrapper">
            <div class="flexslider hero-slider">
                <ul class="slides">
                    <li class="slide slide-1"></li>
                    <li class="slide slide-2"></li>
                    <li class="slide slide-3"></li>
                </ul>
            </div>
            <div class="hero-slider-mask"></div>
 <!--       </div><!--//hero-slider-wrapper--> 
    <!--    <div class="container promo-content">                
            <h2 class="headline">The Perfect Design Framework <br>for Startup Businesses</h2>
            <p class="tagline">Good design is good business, try our demo today!</p>
            <div class="actions">
                <a class="btn btn-cta btn-primary" href="#" data-toggle="modal" data-target="#signup-modal">Start Free Trial</a>  
                <br class="d-sm-inline-block d-md-none">
                <a href="#" class="play-trigger" data-toggle="modal" data-target="#modal-video" ><img class="play-icon" src="assets/images/play-icon.svg" alt="">See how it works</a>
            </div>
        </div><!--//container-->
  <!--  </section><!--//promo-section-->