<%- include ("partial/header") -%>

<link href="/landing.css" rel="stylesheet" text="text/css">
<!--<div class="container">
  
  <div class="jumbotron" style="margin-top:20px">
  <h1 class="display-4">Welcome to Indiacamp</h1>
  <p class="lead">Hand-picked campgrounds.</p>
  <hr class="my-4">
  
  </div>

<a href="/campgrounds">click to view all campgrounds</a>-->
  
<div id="sections-wapper2" class="sections-wrapper">
<div id="land" class="container">
  <section id="overview-section" class="overview-section section">
		<div clas="row">
			<div class="col-lg-12">
				<div id="text">
					<h1>INDIACAMP</h1>
					<h3>Making Camping Experience Better.</h3>
					<hr>
          <button type="button" class="btn btn-outline-warning"><a id="disp" href="/campgrounds">Click To View All Campgrounds</a></button>
				</div>
			</div>
		</div>
  </section>
</div> 
</div>
<div class="sections-wrapper">
<div class="container">
  <div class="row">
    <h3>OVERVIEW</h3>
      <p>
        When some people think of camping, they tend to imagine forest fires and getting 
        gored by bears. However, this is not the case; it is highly unlikely any of these 
        two actually ever happen. In most cases people who have been on a camping trip once 
        always want to do it again. There is so much to do out there in the wild.
        One of the reasons you should go on a camping trip is the stars. For a person
        like me who lives in the city, I always enjoy a trip out into the untamed hinterland. 
        It is always an opportunity to gaze upon the stars in the night sky. 
        A camping trip presents you with an opportunity to reconnect with loved ones. 
        This is one of the reasons it is so much fun.
      </p>
  </div>
  <%- include("partial/footer") -%>
</div>
</div> 
  

   
