.img-thumbnail{
  margin:15px;
}

.card{
  margin:2%;
}

.card-img-top {
    max-height: 200px;
    min-height: 150px;
    object-fit: cover;
}

/*img{
  margin-top:2%;
}*/
.col-md-3{
  margin-top:2%
}

.img-fluid{
  width:100%;
}

#abc{
  padding:0px;
  margin-block-start: auto;
  margin-right: 2%;
  margin-left:27%;
}

#delform{
  display:inline;
}

#alerts
{
  margin-top:15px;
}

 .required:after {
    content:" *";
    color: red;
}

#footer{
  text-align: center;
}