.img-thumbnail{
  margin:15px;
}

.card{
  margin:2%;
}

img{
  margin-top:2%;
}
.col-md-3{
  margin-top:2%
}

.img-fluid{
  width:100%;
}

#abc{
  padding:0px;
  margin-block-start: auto;
  margin-right: 2%;
  margin-left:27%;
}

#delform{
  display:inline;
}