.img-thumbnail{
  margin:15px;
}

.card{
  margin:2%;
}

img{
  margin-top:2%;
}
.col-md-3{
  margin-top:2%
}

.img-fluid{
  width:100%;
}

#abc{
  padding:0px;
  margin-block-start: auto;
  margin-right: 2%;
  margin-left:27%;
}

#delform{
  display:inline;
}

#alerts
{
  margin-top:15px;
}

 .required:after {
    content:" *";
    color: red;
}

body{
	background:url(https://i.pinimg.com/originals/aa/e6/4f/aae64ff37257a90cbb013d15a64da905.jpg);
	background-size: cover;
	font-family: oswald;
}

#text{
	text-align: left;
	padding-top: 25%;
	color: white;
}