<!DOCTYPE html>
<html>
  <head>
    <title> yelp camp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>    
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
  <a class="navbar-brand" href="/">INDIACAMP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="nav navbar-nav ml-auto"> 
      <!--ml-auto puts thinsg to right and mr-auto puts things to left -->
   <%   if(!currentUser){      %>   <!--agr currentUser empty or undefined hai ie.logged nahi hai user then -->
      <li>                        <!--it means ki false hai, so humne use NOT lga kr true kr diya -->
        <a class="nav-link" href="/register">Sign-up</a>
      </li>
      <li >
        <a class="nav-link" href="/login" >Log-in</a>
      </li>                <!--agr currentUser mein dat ahai then else will work -->
 <%     }else{    %>
      <li >        <!--v r displaying only username , futher it can lead to prfile page-->
        <a class="nav-link" href="#" > Signed in as <%= currentUser.username %></a>
      </li>
      <li >
        <a class="nav-link" href="/logout" >Log-out</a>
      </li>
  <%    }  %>
    </ul>
  </div>
    </div>
</nav>
  
       <!--length>0 coz empty na ho, then v dont want flash msg, it will never be undefined
       coz humne define toh app.use mein hi kr diya tha,  bt if v dont send msg
        then it can be empty     -->
  <div class="container">
    <% if(notworked && notworked.length>0){ %> 
    <div id="alerts" class="alert alert-danger" role="alert">
    <%= notworked %>
    </div>
    <% } %>
    <% if(itworked && itworked.length>0){ %> 
    <!--length>0 coz undefined ya empty na ho, then v dont want flash msg -->
    <div id="alerts" class="alert alert-success" role="alert">
    <%= itworked %>
    </div>
    <% } %>
  </div>
 
  
    